<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Join</title>
    <link rel="stylesheet" href="/stylesheets/authe.css">
</head>
<body>
  <div class="container">
    <div class="login-box">
      <div class="logo">
        <img src="/img/logo.gif" alt="logo">
      </div>
      <form class="login" action="/host_api" method="POST">
        <div class="form-group">
          <p white-space="pre"> l o g g e d  i n  a s  {{username}}</p>
        </div>
        <div class="form-group">
          <input type="text" name="game_id" placeholder="g a m e  i d" id="game_id" class="form-control">
        </div>
        <div class="form-group">
          <input type="text" name="passcode" placeholder="p a s s c o d e" id="passcode" class="form-control">
        </div>
        <div class="form-group">
          <button class="full-btn" name="button" value="join" id="join-btn"> j o i n  g a m e</button>
        </div>
        <div class="form-group">
          <button class="full-btn" name="button" value="back"> b a c k</button>
        </div>
      </form>
      <div class="disclaimer">
        <p>&copy i m p o r t  t e a m N a m e  2 0 2 1</p>
      </div>
    </div>
  </div>

  <script src="/socket.io/socket.io.js"></script>
  <script>
    var socket = io();

    document.getElementById("join-btn").addEventListener("click", function() {
      socket.emit('playerJoinGame', {game_id: document.getElementById('game_id').value, passcode: document.getElementById('passcode').value, username: '{{username}}'});
    });
  </script>  
</body>
</html>