<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lobby</title>
    <link rel="stylesheet" href="/stylesheets/authe.css">
</head>
<body>
  <div class="container">
    <div class="login-box">
      <div class="logo">
        <img src="/img/sun.svg" id="sun-logo" alt="logo">
        <img src="/img/wheel_logo.svg" id="wheel-logo" class="rotating" alt="logo">
        <img src="/img/logo_alt.svg" id="text-logo" alt="logo">
      </div>
      <form class="login" action="/lobby/profile" method="POST">
        <div class="form-group">
          <p white-space="pre" style="margin-left: 55px;"> l o g g e d  i n  a s  {{username}}</p>
        </div>
        <div class="form-group">
          <p white-space="pre" style="margin-left: 55px;"> e m a i l  a d d r e s s:  {{mail}}</p>
        </div>
        <div class="form-group">
          <p white-space="pre" style="margin-left: 55px;"> g a m e s  p l a y e d :  {{gamesPlayed}} </p>
        </div>
        <div class="form-group">
          <button class="full-btn" name="button" value="back"> b a c k</button>
        </div>                
        <div class="form-group">
          <button class="full-btn" name="button" value="logout"> l o g  o u t</button>
        </div>
      </form>
      <div class="disclaimer">
        <p>&copy i m p o r t  t e a m N a m e  2 0 2 1</p>
      </div>
    </div>
  </div>  
</body>
</html>