*{
  margin: 0;
  padding: 0;
  font-family: "Times New Roman", "Lucida Grande", Helvetica, Arial, sans-serif;
}
body {
  height: 100vh;
  width: 100%;
  background:linear-gradient(to right top, #E0FFC6 0, #83FFC8 25%, #61EBFE 50%, #FC83FC 100%);
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}
.login-box {
  padding: 100px 100px 50px 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 400px;
  font-size: 14px;
}
.logo {
  display: flex;
  flex-direction: row;
  justify-content: center;
  position: absolute;
  top: -75px;
  left: 10px;
}
#wheel-logo {
  height: 100px;
  width: auto;  
  margin: 0 -30px 0 -120px;
}
#sun-logo {
  position: inherit;
  height: 300px;
  width: auto;
  z-index: -1;
  margin: -80px 0 0 -40px;
}
#text-logo {
  height: 125px;
  width: auto;
  margin: 0 0 0 -40px;
}
@-webkit-keyframes rotating /* Safari and Chrome */ {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.rotating {
  -webkit-animation: rotating 2s linear infinite;
  -moz-animation: rotating 2s linear infinite;
  -ms-animation: rotating 2s linear infinite;
  -o-animation: rotating 2s linear infinite;
  animation: rotating 2s linear infinite;
}
.login, .register {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 75%;
}
.form-group {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  width: 100%;
  white-space: pre;
}
input[type="text"].form-control {
  font-size: 16px;
  outline: none;
  width: calc(100% - 36px);
  box-shadow: 6px 6px 6px -6px black;
  border: 0px;
  padding: 5px;
  transition: all 0.3s ease;
  text-align: center; 
}
button {
  outline: none;
  padding: 5px;
  display: block;
  width: 50%;
  cursor: pointer;
  position: relative;
  left: 60px;
  box-shadow: 6px 6px 6px -6px black;
  border: 0px;
}
.disclaimer {
  white-space: pre;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: -200px;
  left: 150px; 
}