*{
  margin: 0;
  padding: 0;
  font-family: "Times New Roman", "Lucida Grande", Helvetica, Arial, sans-serif;
}
body {
  height: 100vh;
  width: 100%;
  background-color: #fd84fd;
}
.container {
  height: 100%;
  width: 100%;
  position: relative;
}

.chat-container {
  background: white; 
  position: fixed; 
  bottom: 0; 
  left: 0; 
  width: 50%;
  display: flex; 
  height: 25%; 
  box-sizing: border-box;
  border: 2px solid black;
}
.chat-form {
  background: white; 
  padding: 0.25rem; 
  position: absolute; 
  bottom: 0; 
  left: 0; 
  right: 0; 
  display: flex; 
  width: 99%; 
  border: 0px solid black;
}
.message-container {
  background: white;
  position: absolute; 
  top: 0; 
  left: 0; 
  right: 0; 
  display: flex; 
  width: 100%; 
  border: 0px solid black;
  overflow-y: auto;
  height: 87%;
}
#messages { list-style-type: none; margin: 0; padding: 0; width: 100%;}
#messages > li { padding: 0.5rem 1rem; }
#messages > li:nth-child(odd) { background: #efefef; }
#chat-send {
  height:21px;
  width:50px;
  text-align: center;
}
#chat-input {
  width: 850px;
}

.user-profile {
  background: white; 
  padding: 0.25rem; 
  position: fixed; 
  bottom: 0; 
  right: 0;
  width: 50%;
  display: flex; 
  height: 25%; 
  box-sizing: border-box;
  border: 2px solid black;
}

.answer-btns-container {
  background: white; 
  padding: 0.25rem; 
  position: fixed; 
  bottom: 0; 
  left: 50;
  width: 35%;
  display: flex; 
  justify-content: center;
  align-items: center;
  height: 10%; 
  box-sizing: border-box;
}
.ans-btn {
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;  
  height: 50%;
  border-radius: 50%;
}

.player-btns-container {
  background: white; 
  padding: 0.25rem; 
  position: fixed; 
  bottom: 0; 
  right: 0;
  width: 15%;
  display: flex; 
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 25%; 
  box-sizing: border-box;
}
.action-btn {
  padding: 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

#timer {
  border: 2px solid black;
  text-align: center;
  position: fixed;
  top: 0;
}
.other-players {
  background: white; 
  padding: 0.25rem; 
  position: fixed; 
  top: 0; 
  left: 0; 
  right: 0; 
  width: 25%;
  height: 75%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.player-card {
  width: 100%;
}
.cur-player-card {
  width: 70%;
}
.current-profile-pic, .current-profile-information {
  display: inline-block;
  *display: inline;
}
.player-card + .player-card { 
  margin-top: 10px;
}

.current-profile-information {
  vertical-align: top;
}

.game-area {
  background: white; 
  padding: 0.25rem; 
  position: fixed; 
  top: 0; 
  left: 25%; 
  right: 0; 
  width: 74%;
  height: 74%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;  
  border: 2px solid black;
}