<html>
  <body>
    <input id="buttonId" type="submit"><br><br>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.4.2/handlebars.min.js"></script>
    <p>{{theQuestion}}</p>

    <script type="text/x-handlebars-template" id="myTempId"></script>
  </body>
</html>