<html>
  <body>
    <form>
    <label for="fname">First name:</label><br>
    <input type="text" id="fname" name="fname"><br>
    <label for="lname">Last name:</label><br>
    <input type="text" id="lname" name="lname">
    </form>
    <button type="button" onclick="clickHandler()">Enter</button>
    
    <script>
      function clickHandler() {
        var firstName = document.getElementById("fname").value;
        var lastName = document.getElementById("lname").value;
        const data = { firstName, lastName };
        const options = {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json'
          },
          body: JSON.stringify(data)
        };
        fetch('/api', options)
      }
    </script>

  </body>
</html>